<section class="com com-terms" data-ui="dialog" data-view="inactive">
    <div class="com-cr com-terms-cr">
        <h2 class="com-heading com-terms-heading">Terms and Conditions</h2>
        <div class="com-ct com-terms-ct">
            
            <div class="terms">
                <div class="terms-cr">
                    <p>The team warrants that the entry is their original idea and does not infringe on the intellectual property rights of any third party. Participants are responsible for securing appropriate protection for any Intellectual Property (IP) contributed by the team members or their parent institutions. In the absence of such protection, participants should restrict themselves to non-enabling disclosures of their IP. Entries that have won major awards (1st, 2nd, 3rd) in any local and international competitions cannot be entered. Wireless service applications that are already in commercial production may not be entered. Smart Communications, Inc. (SMART) & Chikka Philippines, Inc. (CHIKKA) shall not be liable to any participant for commercializing ideas that have been independently developed but are similar in concept to submitted entries.</p>
                    <p>SMART and CHIKKA reserves the right to disqualify abusive or offensive entries. The company may also promote any of the participating entries during and after the challenge. However, the developing team has full ownership and control over their creations and shall remain solely responsible for any resemblance or association their entries may have with existing brands and services.</p>
                </div>
            </div>
            
            <div class="action-items terms-action">
                <ul class="action-list">
                    <li class="action-item action-item-close">
                        <a class="action-link action-link-close" href="#" title="Close">
                            <span class="label">Close</span>
                            <svg class="icon icon-close" width="0" height="0" viewBox="0 0 48 48"><use xlink:href="#icon-close"></use></svg>
                        </a>
                </ul>
            </div>
            
        </div>
   </div>
</section><!-- com-terms -->