<section class="com com-details">
    <div class="com-cr com-details-cr">
        <h2 class="com-heading com-details-heading">Details</h2>
        <div class="com-ct com-details-ct">
            <ul class="details-list">
                <li class="details-item details-prize">
                    <p>Win <strong>PHP 50,000</strong> + <strong>PHP 25,000</strong> worth of Chikka API Credits</p>
                    <svg class="icon icon-prize" width="0" height="0" viewBox="0 0 86 80"><use xlink:href="#icon-medal"></use></svg>
                </li>
                <li class="details-item details-date">
                    <p>Textify will run from <strong>September 18, 2014 – November 03, 2014</strong></p>
                    <svg class="icon icon-date" width="0" height="0" viewBox="0 0 86 80"><use xlink:href="#icon-calendar"></use></svg>
                </li>
            </ul>
        </div>
   </div>
</section><!-- com-details-->