<section class="com com-mechanics">
    <div class="com-cr com-mechanics-cr">
        <h2 class="com-heading com-mechanics-heading">Mechanics</h2>
        <div class="com-ct com-mechanics-ct">
            <ol class="mechanics-list">
                <li class="mechanics-item">
                    <p>Textify is open to individuals or teams with 2 - 5 members. Get started by creating your free Chikka API account at <a href="http://api.chikka.com">api.chikka.com</a>.</p>
                </li>
                <li class="mechanics-item">
                    <p>Go to <a href="http://textifyph.eventbrite.com">textifyph.eventbrite.com</a> to register for free. Don’t forget to submit your team name, your team members, app details and other important information.</p>
                </li>
                <li class="mechanics-item">
                    <p>To officially qualify, submit your app details at <a href="http://www.hackathon.io/textify">hackathon.io/textify.</a></p>
                </li>
                <li class="mechanics-item">
                    <p>Remember, all entries must be submitted online by November 03, 2014 together with a short app description (150 words or less) and a link to a two-minute video demo.</p>
                </li>
                <li class="mechanics-item">
                    <p>Then on November 10, 2014, we’ll reveal the Top 10 teams to join us for the finals.</p>
                </li>
                <li class="mechanics-item">
                    <p>If you are part of the Top 10, we we will see you on November 22, 2014 for the Live Pitch and Q&amp;A!</p>
                </li>                
            </ol>
        </div>
   </div>
</section><!-- com-mechanics -->