<section class="com com-winners">
    <div class="com-cr com-winners-cr">
        <h2 class="com-heading com-winners-heading">Congratulations to the winners!</h2>
        <div class="com-ct com-winners-ct">
			<ul class="winners-list">
				<li class="winners-item winners-grand">
					<h3>Grand Prize Winner</h3>
					<p class="team-name">Team Superheroes in Training</p>
					<p class="app-name">TxtSupport.co</p>
				<li class="winners-item winners-jury">
					<h3>Special Jury Prize Winner</h3>
					<p class="team-name">Team NP-Compete</p>
					<p class="app-name">Credit Sim Card</p>
			</ul>
        </div>
   </div>
</section><!-- com-winners-->