<section class="com com-finalists">
    <div class="com-cr com-finalists-cr">
        <h2 class="com-heading com-finalists-heading">The Textify Final 10!</h2>
        <div class="com-ct com-finalists-ct">
			<p>These are the teams that made it to the final round:</p>
            <ul class="finalists-list">
				<li class="finalists-item">
					<p>Credit Sim Card</p>
				<li class="finalists-item">
					<p>Snitch</p>
				<li class="finalists-item">
					<p>funPinas</p>
				<li class="finalists-item">
					<p>Self Minder</p>
				<li class="finalists-item">
					<p>Gora</p>
				<li class="finalists-item">
					<p>TxtSupport.co</p>
				<li class="finalists-item">
					<p>Contexto</p>
				<li class="finalists-item">
					<p>Apptodate</p>
				<li class="finalists-item">
					<p>Project Ernie</p>
				<li class="finalists-item">
					<p>optiSMS</p>
            </ul>
			<p class="note">(In no particular order)</p>
			<p class="ending">Now, get your apps ready and we'll see you on November 22!</p>
        </div>
   </div>
</section><!-- com-finalists -->