<div class="site-info">
    <ul class="sponsor-list">
        <li class="sponsor-item sponsor-chikka">Chikka API</li>
        <li class="sponsor-item sponsor-smart">SMART DevNet</li>
    </ul>
    <div class="terms">
        <a class="terms-link" href="#">Terms and Conditions</a>
        {% include com-terms.html %}
        
    </div>
    <p class="web-designer">
        {{SITE_TITLE}} is made in <a class="ph-link" href="http://en.wikipedia.org/wiki/Philippines" title="Manila, Philippines" target="_blank">PH</a>
        by <a class="web-designer-link" href="{{WEB_DESIGNER_URL}}" target="_blank">{{WEB_DESIGNER}}</a>
    </p>
    <p class="copyright" title="Copyright">&copy; {{copyright_year}} {{SITE_OWNER}}. <span class="olrayt">All rights reserved.</span></p>
</div><!-- site-info -->