<!-- 005a: API Settings Credentials -->
<div class="com-api-settings-credentials com-005a">
    <div class="com-api-settings-credentials-cr">
        <header>
            <h1 class="assistive-text">Credentials</h1>
            <p class="txt-title">Credentials</p>
        </header>
        <div class="com-api-settings-credentials-ct">            
        
            <div class="cred-cr acct-id-cr">
                <p class="label">Client ID</p>
                <p class="cred acct-id">{{current_user.client_id}}</p>
            </div>
            
            <div class="cred-cr secret-key-cr">
                <p class="label">Secret Key<span class="edit-lnk-cr"><a class="edit-lnk" href="#" id="unlock-secret-key" ><span class="lbl">Edit</span></a></span></p>
                <p class="cred secret-key" id="visible-secret-key">&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;
                </p>
                <p id="hidden-secret-key-display" style="display:none">{{current_user.secret_key}}</p>
                <p class="generate-lnk-cr"><a class="generate-lnk" href="#"  id="generate-code-hyperlink" ><span class="lbl">Generate new secret key</span></a></p>
                <section>
                {% include api_settings_secret_key_dialog.html %}
                </section>
            </div>
       </div>
   </div>
</div><!--.com-api-settings-credentials-->            
