<!-- 005b: Generate secret key -->
<div class="com-generate-secret-key com-005b ui-dialog" id="generated-secret-key-popup">
    <div class="com-generate-secret-key-cr">
        <header>
            <h1 class="assistive-text">Generate secret key</h1>
            <p class="txt-title">New secret key</p>
            <!-- Dismiss link -->
            {% include snippets/dismiss.html  %}
        </header>        
        <div class="com-generate-secret-key-ct">
            <p class="secret-key" id="new-secret-key-respose">[New secret key]</p>
                    
            <div class="fld fld-axn">
                <div class="psu-btn psu-btn-pri psu-btn-use">
                    <div class="psu-btn psu-btn-sub psu-btn-ok">
                        <a class="ok-lnk" href="#" id="generated-secret-key-popup-ok-butt" ><span class="lbl">OK</span></a>
                    </div>
                </div>
            </div>                                
       </div>
   </div>
</div><!--.com-generate-secret-key-->
