{% extends signin_base.html %}

{% block page_title %}New Password{%end%}
{% block body_classes %}page-new-password{%end%}


{% block docbody %}
<section>


<!-- 002r: New Password -->
<div class="com-new-password com-002r">
    <div class="com-new-password-cr">
        <header>
            <h1 class="assistive-text">New Password</h1>
            <p class="txt-title">New Password</p>
        </header>
        <div class="com-new-password-ct">
        
        
{% try %}

{% if error_message %}
  
        <!-- Notification (error) -->
		<div class="notification notification-error">
		<p class="notification-message">{{error_message}}</p>
		</div>
{% end %}
{% except %}
{% end %}        
        


	{% try %}
	{% if success_message %}
               <!-- Notification (success) --> 
<div class="notification notification-success">
	<p class="notification-message">{{success_message}}</p>
</div>

	{% end %}
	
	{% except %}

            <form class="com-new-password-frm" action="/forgotmypassword/{{code}}" method="post">
                <fieldset>
                    <legend>New Password</legend>
                    
                    <p class="txt-desc">Create your new password</p>
                    
                    <div class="fld fld-pwd-new">
                        <div class="psu-inp psu-inp-pwd-new">
                            <label>New Password</label>
                            <input class="inp-pwd-new" type="password" placeholder="Your new password" name="new_password" required>
                        </div>
                        <p class="hint">Password should be at least 8 characters (a-z and 0-9)</p>
                    </div>
                    
                    <div class="fld fld-pwd-new-c">
                        <div class="psu-inp psu-inp-pwd-new-c">
                            <label>Confirm New Password</label>
                            <input class="inp-pwd-new-c" type="password" placeholder="Your new password, again" name="new_password_again" required>
                        </div>
                    </div>
                    
                    <div class="fld fld-axn">
                        <div class="psu-btn psu-btn-pri psu-btn-sub">
                            <button class="btn-sub" type="submit">Save</button>
                        </div>
                    </div><!--.fld-axn-->
                    
                </fieldset>
            </form>
	{% end %}
       </div>
   </div>
</div><!--.com-new-password-->

</section>
{% end %}



