<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Chikka SMS API</title>
    <link rel="stylesheet" href="{{ static_url('css/style.css') }}" >
    <script src="{{ static_url('js/libs/mootools-core-1.4.5.js') }}"></script>
    <script src="{{ static_url('js/libs/mootools-more-1.4.0.1.js') }}"></script>
    <script src="{{ static_url('js/libs/modernizr.custom.80453.js') }}"></script>
    <script src="{{ static_url('js/main.js') }}"></script>
</head>

{% block extra_js %}
{% end %}


<body>

{% block docbody %}



{% end %}

</body>