{% extends signin_base.html %}

{% block page_title %}Chikka API{%end%}

{% block docbody %}
<section>

<!-- 001c: Reset Password component -->
<div class="com-rp 001c">
    <div class="com-rp-cr">
        <header>
            <h1 class="at">Reset Password</h1>
            <p class="txt-ttl">Reset Password</p>
        </header>
        <div class="com-rp-ct">
            <form class="com-rp-frm"  action="/forgotmypassword" method="post"    >
                <fieldset>
                    <legend>Reset Password</legend>
                    <p class="txt-desc">Enter your email address to reset your password.</p>

						{% try %}                        
                            {% if success_message %}
                                <!-- Notification (success) --> 
                                <div class="notification notification-success">
                                    <p class="notification-message">{{success_message}}</p>
                                </div>                  
                            {% end %}
						{% except %}
						
							{% try %}
                            
                                {% if error_message %}
                                  <!-- Notification (error) -->
                                  <div class="notification notification-error">
                                    <p class="notification-message">{{error_message}}</p>
                                  </div>
                                {% end %}
							{% except %}
									
							{% end %}
                            <div class="fld fld-txt fld-email">
										<div class="psu-inp psu-inp-email">
											<label>Email</label>
											<input class="inp-txt-email" type="text" placeholder="Enter your email" name="email" required>
										</div>
									</div>
									<div class="fld fld-axn">
										<div class="psu-btn psu-btn-pri psu-btn-sub">
											<button class="btn-sub" type="submit">Submit</button>
										</div>
									</div><!--.fld-axn-->
						{% end %}
                </fieldset>
            </form>
       </div>
   </div>
</div><!--.com-rp--> 
</section>
{% end %}
