<!-- 002s: Logs Menu -->
<div class="com-logs-menu com-001m pop-over">
    <div class="com-logs-menu-cr">
        <header>
            <h1 class="assistive-text">Logs Menu</h1>
            <p class="txt-title">Logs Menu</p>
        </header>
        <div class="com-logs-menu-ct">
            <ul class="logs-menu-lst">
                <li class="logs-menu-item logs-menu-transaction-history"><a class="logs-menu-lnk" href="/history/transaction"><span class="lbl">Transaction History</span></a></li>
                <li class="logs-menu-item logs-menu-purchase-history"><a class="logs-menu-lnk" href="/monthly-summary"><span class="lbl">Monthly Summary</span></a></li>
                <li class="logs-menu-item logs-menu-purchase-history"><a class="logs-menu-lnk" href="/history/purchase"><span class="lbl">Credit History</span></a></li>
            </ul>
       </div>
   </div>
</div><!--.com-logs-menu-->                                        
