<!-- 002q: Purchase Details -->
<div class="com-purchase-details com-002q ui-dialog">
    <div class="com-purchase-details-cr">
        <header>
            <h1 class="assistive-text">Transaction  Purchase Details</h1>
            <p class="txt-title">Transaction <span>ddd</span> Purchase Details</p>

            {% include snippets/dismiss.html %}        
        </header>
        <div class="com-purchase-details-ct">
                
                <div class="com-purchase-details-table">
                    <table cellpadding="5" border="0">
                        <thead>
                            <tr>

                                <th>Plan Code</th>
                                <th>Qty</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="plan-code"> code </td>
                                <td class="qty"> code </td>
                                <td class="amount">P0000</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
       </div>
   </div>
</div><!--.com-purchase-details--> 