<!-- 002u: Settings Menu -->
<div class="com-settings-menu com-002u pop-over">
    <div class="com-settings-menu-cr">
        <header>
            <h1 class="assistive-text">Settings Menu</h1>
            <p class="txt-title">Settings Menu</p>
        </header>
        <div class="com-settings-menu-ct">
            <ul class="settings-menu-lst">
                <li class="settings-menu-item settings-menu-account-settings"><a class="settings-menu-lnk" href="/account/settings/view"><span class="lbl">Account Settings</span></a></li>
                <li class="settings-menu-item settings-menu-api-settings"><a class="settings-menu-lnk" href="/api/settings"><span class="lbl">API Settings</span></a></li>
                <li class="settings-menu-item settings-menu-billing"><a class="settings-menu-lnk" href="/billing-settlement"><span class="lbl">Billing and Settlement</span></a></li>
                <li class="settings-menu-item settings-menu-log-out"><a class="settings-menu-lnk" href="/logout"><span class="lbl">Log Out</span></a></li>
            </ul>
       </div>
   </div>
</div><!--.com-settings-menu-->