<!-- 001g: Short Code Info component -->
<div class="com-sci 001g">
    <div class="com-sci-cr">
        <header>
            <h1 class="at">Short Code Info</h1>
            <p class="txt-ttl">Short Code Info</p>
        </header>
        <div class="com-sci-ct">

            <p class="sc-cr"><span class="lbl">{{'29290 ' + code}}</span></p>
            <div class="fld fld-axn">
                <div class="psu-btn psu-btn-pri psu-btn-sub">
                
                        <form method="post" action="/shortcode/use">
                            <input name="code" type="hidden" value="{{code}}"/>
                            
                            <section>
                            <!-- 004g: Confirm Short Code -->
                            <div class="com-confirm-short-code com-004g  ui-dialog">

                                <div class="com-confirm-short-code-cr">
                                    <header>
                                        <h1 class="assistive-text">Confirm Short Code</h1>
                                    {% include snippets/dismiss.html  %}        
                                </header>        
                                    <div class="com-confirm-short-code-ct">
                                        <p>You have chosen to use <span class="highlight-b">29290 {{code}}</span> as your short code? Proceed?</p>

                                                
                                        <div class="fld fld-axn">
                                            <div class="psu-btn psu-btn-pri psu-btn-use">
                                                <button class="btn-sub" type="submit"><span class="lbl">Use</span></button>
                                            </div>
                                            <div class="psu-btn psu-btn-neg psu-btn-cncl">
                                            <a class="cncl-lnk" href="#"><span class="lbl">Cancel</span></a>
                                            </div>
                                        </div>                                
                                   </div>

                               </div>
                            </div><!--.com-confirm-short-code-->
                                        </section>
                            
                            <button class="btn-sub use-shortcode" {{'disabled' if has_shortcode else ''}}>Use This</button>
                        </form>
               
               </div>
            </div><!--.fld-axn-->
       </div>
   </div>

</div><!--.com-sci-->