{% extends base.html%}

{% block docbody %}

<!-- 001k: Receive Text component -->
<div class="com-test-receive 001k">
    <div class="com-test-receive-cr">
        <header>
            <h1 class="at">Send Text</h1>
            <p class="txt-ttl">Send Text</p>
        </header>
        <div class="com-test-receive-ct">
            <form action="/testmo/save" method="post" class="com-test-receive-frm">

                <fieldset>
                    <legend>Receive Text</legend>
                    
                    <p class="txt-desc">[Receive Text description]</p>
                    
                    <section>
                        <!-- MIN -->
<div class="min-cr">
    <div class="min-ct">
        <div class="fld fld-txt fld-min">

            <div class="psu-inp psu-inp-txt psu-inp-min">
                <label>MIN</label>
                <input class="inp-min" type="text" value="{{mo_testmin}}" disabled />
            </div>
        </div>
        <div class="fld fld-axn">
            <div class="psu-btn psu-btn-pri psu-btn-sub">
                <a class="edit-lnk" href="/testmin/enroll"><span class="lbl">Edit</span></a>

            </div>
        </div><!--.fld-axn-->
    </div>
</div>                    </section>
                    
                                   
                    <div class="fld">
                        <div class="psu-inp psu-inp-msg">
                        	<label>Message</label>
                            <textarea id="test_send_message" name="MO_message" placeholder="{{mo_message}}" maxlength="120"></textarea>
                        </div>
                    </div>
                    
                    <div class="fld fld-axn">

                        <div class="psu-btn psu-btn-pri psu-btn-sub">
                            <button class="btn-sub" type="submit">Save</button>
                        </div>
                        <p id="testmin_char_count" class="char-count">120</p>
                    </div><!--.fld-axn-->
                </fieldset>
            </form>
       </div>

   </div>
</div><!--.com-test-receive-->

{% end %}