<!-- 002e: Account Settings -->
<div class="com-account-settings com-002e">

    <div class="com-account-settings-cr">
        <header>
            <h1 class="assistive-text">Account Settings</h1>
            <p class="txt-title">Account Settings</p>
        </header>
        <div class="com-account-settings-ct">
            <p class="txt-desc">You can manage your account details here.</p>

            <section>
            {% include 008a_account-settings-login.html %} 
            </section>
            
            <section>
            {% include 008b_account-settings-balance.html %}
            </section>
            
       </div>
   </div>
</div><!--.com-account-settings-->