<!-- 002h: Edit Password -->
<div id="edit_password" class="com-edit-password com-002h ui-dialog">
    <div class="com-edit-password-cr">
        <header>
            <h1 class="assistive-text">Edit Password</h1>
            <p class="txt-title">Change Password</p>
            {% include snippet_dismiss.html  %}
        </header>
        
        <div class="com-edit-password-ct">

            <form class="com-edit-password-frm">
                <fieldset>
                    <legend>Edit Password</legend>
                    
                    <p class="txt-desc">Update your password.</p>
                    
                    <!-- Notification (error) -->
                    <!--  
                    <div class="notification notification-error">
                        <p class="notification-message">[Error message]</p>
                    </div>
                    -->
                    
                    <div class="fld fld-pwd-curr">

                        <div class="psu-inp psu-inp-pwd-curr">
                            <label>Password</label>
                            <input class="inp-pwd-curr" type="password" placeholder="" name="old_password" id="field-old-password" required>
                        </div>
                    </div>
                    
                    
                        <div style="display:none" id="old-password-error-msg" class="notification notification-error notification-inline">
                            <p class="notification-message">[Inline error message]</p>
                        </div>
                    
                    
                    <div class="fld fld-pwd-new">
                        <div class="psu-inp psu-inp-pwd-new">
                            <label>New Password</label>

                            <input class="inp-pwd-new" type="password" placeholder="" id="field-new-password" required>
                        </div>
                        <p class="hint">Use at least 8 characters.</p>
                        <!-- Inline Notification (error) -->
                        
                        <div style="display:none" id="new-password-error-msg" class="notification notification-error notification-inline">
                            <p class="notification-message">[Inline error message]</p>
                        </div>
                        
                    </div>
                    
                    <div class="fld fld-pwd-new-c">

                        <div class="psu-inp psu-inp-pwd-new-c">
                            <label>Confirm New Password</label>
                            <input class="inp-pwd-new-c" type="password" placeholder="" id="field-new-password-again" required>
                        </div>
                        
                        <!-- Inline Notification (error) -->
                        
                        <div style="display:none" id="new-password-again-error-msg" class="notification notification-error notification-inline">
                            <p class="notification-message">[Inline error message]</p>
                        </div>
                    </div>

                    
                    <div class="fld fld-axn">
                        <div class="psu-btn psu-btn-pri psu-btn-sub">
                            <button class="btn-sub" type="submit" id="change-pass-submit-butt">Submit</button>
                        </div>
                        <div class="psu-btn psu-btn-neg psu-btn-cncl">
                            <a id="dismiss_dialog" class="cncl-lnk" href="#"><span class="lbl">Cancel</span></a>
                        </div>
                    </div><!--.fld-axn-->
                </fieldset>
            </form>      
       </div>
   </div>
</div>
<!--.com-edit-password-->