<!-- 002v: Rates -->
<div class="com-rates com-002v active">
    <div class="com-rates-cr">
        <header>
            <h1 class="assistive-text">Rates</h1>

            <p class="txt-title">Cost per Outgoing SMS</p>
        </header>
        <div class="com-rates-ct">
            <div class="com-rates-table">
                <table cellpadding="5" border="0">
                    <thead>
                        <tr>
                            <th>Telco</th>
                            <th>Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="telco">Smart</td>
                            <td class="cost">P{{'%0.2f' %  rates['SMART']}}</td>
                        </tr>
                        <tr>
                            <td class="telco">Sun</td>
                            <td class="cost">P{{'%0.2f' %  rates['SUN']}}</td>
                        </tr>
                        <tr>
                            <td class="telco">Globe</td>
                            <td class="cost">P{{'%0.2f' %  rates['GLOBE']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
       </div>
   </div>
</div><!--.com-rates-->