<!-- 003a: Home Banner -->
<div class="com-home-banner com-003a">
    <div class="com-home-banner-cr">
        <header>
            <h1 class="assistive-text">Home Banner</h1>
            <p class="txt-title">Enabling you a better communications platform.</p>
        </header>
        <div class="com-home-banner-ct">
            <div class="banner-main"><span class="lbl">[image]</span></div>
            <div class="psu-btn psu-btn-pri">
                <a class="sign-up-lnk" href="/signup"><span class="lbl">Sign up for a free trial</span></a>
            </div>
       </div>
   </div>
</div><!--.com-home-banner-->