<!-- 003b: Chikka API Features -->
<div class="com-features com-003b">
    <div class="com-features-cr">
        <header>
            <h1 class="assistive-text">Chikka API Features</h1>
            <p class="txt-title">The way you like it.</p>
        </header>
        <div class="com-features-ct">
            <ul class="features-lst">
                <li class="features-item feature-one">
                    <section>
                        {% include 003c1_feature.html %}                    
                    </section>
                </li>
                <li class="features-item feature-two">
                    <section>
                        {% include 003c2_feature.html %}
                    </section>
                </li>
                <li class="features-item feature-three">
                    <section>
                        {% include 003c3_feature.html %}
                    </section>
                </li>
            </ul>
       </div>
   </div>
</div><!--.com-features-->