<!-- 003e: SMS API Banner -->
<div class="com-sms-banner com-003e">
    <div class="com-sms-banner-cr">
        <header>
            <h1 class="assistive-text">SMS API Banner</h1>
            <p class="txt-title">Now you can focus on doing what you do best.</p>
        </header>
        <div class="com-sms-banner-ct">
                <p class="txt-desc">While we make sure we get your messages across.</p>
                <div class="banner-main"><span class="lbl">[image]</span></div>
            <div class="psu-btn psu-btn-pri">
                <a class="sign-up-lnk" href="/signup"><span class="lbl">Sign up for a free trial</span></a>
            </div>
       </div>
   </div>
</div><!--.com-sms-banner-->