<!-- 003f: SMS API Features -->
<div class="com-sms-features com-003f">
    <div class="com-sms-features-cr"> 
        <header>
            <h1 class="assistive-text">SMS API Features</h1>
            <p class="txt-title">Exactly what you need.</p>
        </header>
        <div class="com-sms-features-ct">
                <ul class="features-lst">
                <li class="features-item feature-one">
                    <section>
                        {% include 003g1_sms-feature.html %}
                    </section>
                </li>
                <li class="features-item feature-two">
                    <section>
                        {% include 003g2_sms-feature.html %}
                    </section>
                </li>       
                <li class="features-item feature-three">
                    <section>
                        {% include 003g3_sms-feature.html  %}
                    </section>
                </li>           
            </ul>           
       </div>            
   </div>               
</div><!--.com-sms-features-->
