<!-- 003g: SMS Feature -->
<div class="com-sms-feature com-003g">
    <div class="com-sms-feature-cr">
        <header>
            <h1 class="assistive-text">SMS Feature</h1>
            <p class="txt-title">Multi-Carrier Support</p>
        </header>
        <div class="com-sms-feature-ct">
            <p class="txt-desc">Globe, Smart and Sun;<br/>you get them all here.</p>
            <div class="feature-icon"><span class="lbl">[image]</span></div>
       </div>
   </div>
</div><!--.com-sms-feature-->