<!-- 003h: Budget Features -->
<div class="com-sms-features-budget com-003h">
    <div class="com-sms-features-budget-cr">
        <header>
            <h1 class="assistive-text">Budget Features</h1>
            <p class="txt-title">Choose a package to match your budget.</p>
        </header>
        <div class="com-sms-features-budget-ct">
                <ul class="features-budget-lst">
                <li class="features-budget-item feature-one">
                        <p class="txt-title">Plan 100</p>
                    <p class="txt-desc">Up to 250 messages</p>
                </li>       
                <li class="features-budget-item feature-two">
                        <p class="txt-title">Plan 500</p>
                    <p class="txt-desc">Up to 1,250 messages</p>
                </li>       
                <li class="features-budget-item feature-three">
                        <p class="txt-title">Plan 1000</p>
                    <p class="txt-desc">Up to 2,500 messages</p>
                </li>       
                <li class="features-budget-item feature-four">
                        <p class="txt-title">Plan 2500</p>
                    <p class="txt-desc">Up to 6,250 messages</p>
                </li>       
            </ul>        
       </div>           
   </div>
</div><!--.com-sms-features-budget-->