<!-- 003i: SMS Extra -->
<div class="com-sms-extra com-003i">
    <div class="com-sms-extra-cr">
        <header>
            <h1 class="assistive-text">SMS Extra</h1>
            <p class="txt-title">Ready to send your messages?</p>
        </header>   
        <div class="com-sms-extra-ct">
                <div class="psu-btn psu-btn-sec">
                <a class="sign-up-lnk" href="/signup"><span class="lbl">Log in</span></a>
            </div>          
            <p>or</p>       
            <div class="psu-btn psu-btn-pri">
                <a class="sign-up-lnk" href="/signin"><span class="lbl">Sign up for a free trial</span></a>
            </div>          
       </div>               
   </div>                   
</div><!--.com-sms-extra-->