<!-- Tutorial: API Settings -->
<div class="com-tutorial-api-settings com-003v ui-dialog">
    <div class="com-tutorial-api-settings-cr">
        <header>
            <h1 class="assistive-text">Update your API settings</h1>
            <p class="txt-title">Update your API settings</p>
            {% include ../snippets/dismiss.html  %}
        </header>
        <div class="com-tutorial-api-settings-ct">
            <div id="pc-api-settings"></div>
        	<script>
				document.addEvent('domready', function() {

					var img_base_uri = '/static/img'
					var pc = new PictureSlider($('pc-api-settings'), [
						{
							src: img_base_uri+'/tutorial_api-settings_01.png',
							content: '[image one]',
							caption: '<p class="caption">You can manage your API details under Settings.</p><p class="page">Page 1 of 5</p>',
						},
						{
							src: img_base_uri+'/tutorial_api-settings_02.png',
							content: '[image two]',
							caption: '<p class="caption">This is your Client ID and Secret Key. Click Generate New Secret Key if you wish to get a new one.</p><p class="page">Page 2 of 5</p>',
						},
						{
							src: img_base_uri+'/tutorial_api-settings_03.png',
							content: '[image three]',
							caption: '<p class="caption">Click Edit to set or update your Notification Receiver URL and Message Receiver URL.</p><p class="page">Page 3 of 5</p>',
						},
						{
							src: img_base_uri+'/tutorial_api-settings_04.png',
							content: '[image two]',
							caption: '<p class="caption">Enter your API details and click Save.</p><p class="page">Page 4 of 5</p>',
						},
						{
							src: img_base_uri+'/tutorial_api-settings_05.png',
							content: '[image two]',
							caption: '<p class="caption">Your API details will be saved to your profile.</p><p class="page">Page 5 of 5</p>',
						}
					], {
							caption:
							{
								opacity: 1,
							}
						}
					);
					
					var next = $(document.body).getElement('.com-tutorial-api-settings .next-lnk');
					var prev = $(document.body).getElement('.com-tutorial-api-settings .prev-lnk');
					
					next.addEvent('click', function(event) { event.preventDefault(); pc.right(); });
					prev.addEvent('click', function(event) { event.preventDefault(); pc.left(); });
				});
			</script>
            <div class="fld fld-axn">
            	<div class="psu-btn psu-btn-pri psu-btn-next">
                	<a class="next-lnk" href="#"><span class="lbl">Next</span></a>
                </div>
                <div class="psu-btn psu-btn-sec psu-btn-prev">
                	<a class="prev-lnk" href="#"><span class="lbl">Back</span></a>
                </div>
            	<div class="psu-btn psu-btn-neg">
                	<a class="skip-lnk" href="#"><span class="lbl">Skip</span></a>
                </div>
            </div>
       </div>
   </div>
</div><!--.com-tutorial-api-settings-->