<!-- Tutorial: Manage cart -->
<div class="com-tutorial-manage-cart com-003v ui-dialog">
    <div class="com-tutorial-manage-cart-cr">
        <header>
            <h1 class="assistive-text">Manage your cart</h1>
            <p class="txt-title">Manage your cart</p>
            {% include ../snippets/dismiss.html  %}
        </header>
        <div class="com-tutorial-manage-cart-ct">
            <div id="pc-manage-cart"></div>
        	<script>
				document.addEvent('domready', function() {
				    var img_base_uri = '/static/img'
					var pc = new PictureSlider($('pc-manage-cart'), [
						{
							src: img_base_uri+'/tutorial_manage-cart_01.png',
							content: '[image one]',
							caption: '<p class="caption">You can change the number of packages you are purchasing by editing the quantity.</p><p class="page">Page 1 of 4</p>',
						},
						{
							src: img_base_uri+'/tutorial_manage-cart_02.png',
							content: '[image two]',
							caption: '<p class="caption">To remove a package from your cart, hover on the item and click delete icon.</p><p class="page">Page 2 of 4</p>',
						},
						{
							src: img_base_uri+'/tutorial_manage-cart_03.png',
							content: '[image three]',
							caption: '<p class="caption">If you want more credits, click Add More Packages.</p><p class="page">Page 3 of 4</p>',
						},
						{
							src: img_base_uri+'/tutorial_manage-cart_04.png',
							content: '[image four]',
							caption: '<p class="caption">To remove all the contents of your Cart, click Empty Cart.</p><p class="page">Page 4 of 4</p>',
						}
					], {
							caption:
							{
								opacity: 1,
							}
						}
					);
					
					var next = $(document.body).getElement('.com-tutorial-manage-cart .next-lnk');
					var prev = $(document.body).getElement('.com-tutorial-manage-cart .prev-lnk');
					
					next.addEvent('click', function(event) { event.preventDefault(); pc.right(); });
					prev.addEvent('click', function(event) { event.preventDefault(); pc.left(); });
				});
			</script>
            <div class="fld fld-axn">
            	<div class="psu-btn psu-btn-pri psu-btn-next">
                	<a class="next-lnk" href="#"><span class="lbl">Next</span></a>
                </div>
                <div class="psu-btn psu-btn-sec psu-btn-prev">
                	<a class="prev-lnk" href="#"><span class="lbl">Back</span></a>
                </div>
            	<div class="psu-btn psu-btn-neg">
                	<a class="skip-lnk" href="#"><span class="lbl">Skip</span></a>
                </div>
            </div>
       </div>
   </div>
</div><!--.com-tutorial-manage-cart-->