<!-- 004f: Dashboard Short Code -->
<div class="com-dashboard-get-short-code com-004f">
    <div class="com-dashboard-get-short-code-cr">
        <header>
            <h1 class="assistive-text">Dashboard Short Code</h1>
            <p class="txt-title">Welcome to Chikka API!</p>
        </header>
        <div class="com-dashboard-get-short-code-ct">
            <p class="txt-desc">Choose or customize a unique short code that you will use to communicate
to your customers. <a href="/shortcode">Get your short code.</a></p>
       </div>
   </div>
</div><!-- .com-dashboard-welcome -->