<!-- 005c: Billing -->
<div class="com-billing com-005c">
    <div class="com-billing-cr">
        <header>
            <h1 class="assistive-text">Billing and Settlement</h1>
            <p class="txt-title">Billing and Settlement</p>
        </header>
        <div class="com-billing-ct">

            <section>
                {% include 005d_billing-estimate.html %}
            </section>
            <section>
                {% include 005e_billing-info.html %}
            </section>

       </div>
   </div>
</div><!--.com-billing-->
