<!-- 005d: Billing Estimate -->
<div class="com-billing-estimate com-005d">
    <div class="com-billing-estimate-cr">
        <header>
            <h1 class="assistive-text">Estimated Earnings</h1>
            <p class="txt-title">Estimated Earnings</p>
            {% include ../tooltips/billing_settlement_earnings.html %}
        </header>
        <div class="com-billing-estimate-ct">
            <p class="txt-desc">Your estimated revenue for the past 3 months.</p>
            <div class="com-billing-estimate-table">
                <table cellpadding="5" border="0">
                    <thead>
                        <tr>
                            <th class="month">Month</th>
                            <th class="earnings">Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  <tr>
                            <td class="month">March 2014</td>
                            <td class="earnings">P1,000,000,000.00</td>
                        </tr>
                        <tr>
                            <td class="month">February 2014</td>
                            <td class="earnings">P1,000,000,000.00</td>
                        </tr>
                        <tr>
                            <td class="month">January 2014</td>
                            <td class="earnings">P1,000,000,000.00</td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
       </div>
   </div>
</div><!--.com-billing-estimate-->            
