<!-- 006b: Payment Notification -->
<div class="com-payment-notification com-006b" style="display:none">
    <div class="com-payment-notification-cr">
        <header>
            <h1 class="assistive-text">Payment Notification</h1>
        </header>        
        <div class="com-payment-notification-ct">
            <p></p>
            <div class="fld fld-axn">
                <div class="psu-btn psu-btn-pri">
                    <div class="psu-btn psu-btn-sub psu-btn-ok">
                        <a class="ok-lnk" href="/cart"><span class="lbl">OK</span></a>
                    </div>
                </div>
            </div>
       </div>
   </div>
</div><!--.com-payment-notification-->