<section class="com com-help-basics">
	<div class="com-cr com-help-basics-cr">
		<h2 class="com-heading com-help-basics-heading">Basics</h2>
		<div class="com-ct com-help-basics-ct">

            <div class="toc-cr">
            	<div class="toc-ct">
                	<ol class="toc-lst">
                        <li class="toc-lnk-cr">
                        	<a class="toc-lnk" href="#getting-to-know-the-chikka-sms-api" data-state="active"><span class="lbl">Getting to know the Chikka SMS API</span></a>
                            <ol class="sub toc-lst">
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#benefits" data-state="inactive"><span class="lbl">Benefits</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#features" data-state="inactive"><span class="lbl">Features</span></a>
                            </ol>
                        <li class="toc-lnk-cr">
                        	<a class="toc-lnk" href="#getting-started-with-the-chikka-sms-api" data-state="inactive"><span class="lbl">Getting started with the Chikka SMS API</span></a>
                            <ol class="sub toc-lst">
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#create-account" data-state="inactive"><span class="lbl">Create Account</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#short-code" data-state="inactive"><span class="lbl">Short Code</span></a>
                            </ol>
                        <li class="toc-lnk-cr">
                            <a class="toc-lnk" href="#using-the-chikka-sms-api" data-state="inactive"><span class="lbl">Using the Chikka SMS API</span></a>
                            <ol class="sub toc-lst">
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#packages" data-state="inactive"><span class="lbl">Packages</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#payment-options" data-state="inactive"><span class="lbl">Payment Options</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#valid-activities" data-state="inactive"><span class="lbl">Valid Activities</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#censorship" data-state="inactive"><span class="lbl">Censorship</span></a>
                            </ol>
                        <li class="toc-lnk-cr">
                            <a class="toc-lnk" href="#rates" data-state="inactive"><span class="lbl">Rates</span></a>
                            <ol class="sub toc-lst">
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#outgoing-messages" data-state="inactive"><span class="lbl">Outgoing Messages</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#incoming-messages" data-state="inactive"><span class="lbl">Incoming Messages</span></a>
                            	<li class="sub toc-lnk-cr"><a class="sub toc-lnk" href="#revenue-share" data-state="inactive"><span class="lbl">Revenue Share</span></a>
                    </ol>
                    </ol>
                </div>
            </div>

            <div class="main-cr">
            	<div class="main-ct">
                	<ol class="faq-lst">
                        <li class="faq-cr">
                        	<div class="faq-ct">
                        		<a id="getting-to-know-the-chikka-sms-api" class="faq-lnk"><span class="lbl">Getting to know the Chikka SMS API</span></a>
                                <div class="faq-ans">
                                    <p>The Chikka SMS API allows you to create SMS-based applications or integrate the service into your existing applications using HTTP POST interface.</p>
                                    <p>It enables you to develop apps that can send and receive SMS using phone numbers or short codes.  Our SMS API makes it possible for your users to communicate with your application or to conveniently receive updates from their favorite brands.</p>
                                    <p>The Chikka SMS API gives you the freedom to use standard web languages to build your SMS-based applications. And one of the best things about our API is that it will seamlessly connect your applications to the major Philippine carriers without any hassle.
</p>
                                </div>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="benefits" class="sub faq-lnk"><span class="lbl">Benefits</span></a>
                                        <div class="sub faq-ans">
                                        	<h3 id="secured">Secured</h3>
                                            <p>Chikka SMS API requires a system-generated secret key for all the messages you send to ensure that your data stays private.</p>

                                            <h3 id="language-independent">Language-independent</h3>
                                            <p>The Chikka SMS API can be seamlessly integrated into any programming language you prefer.</p>

                                            <h3 id="reliable-support">Reliable support</h3>
                                            <p>Our technical experts are always available to provide assistance on anything you need to know about the Chikka API.</p>

                                            <h3 id="delivery-confirmation">Delivery confirmation</h3>
                                            <p>Notifications on the status of your sent messages will help you closely monitor transactions.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="features" class="sub faq-lnk"><span class="lbl">Features</span></a>
                                        <div class="sub faq-ans">
                                            <h3 id="check-balance">Check Balance</h3>
                                            <p>Allow bank customers to check their current account balance via SMS.</p>
                                            <h3 id="launch-promos">Launch Promos</h3>
                                            <p>Improve branding awareness through text promos.</p>

                                            <h3 id="verify-accounts">Verify Accounts</h3>
                                            <p>Let your users authenticate their accounts through SMS verification.</p>

                                            <h3 id="notify-customers">Notify Customers</h3>
                                            <p>Let people know when their bills are due, table reservation is ready, or a storm is coming.</p>

                                            <h3 id="advertise-products-and-services">Advertise Products and Services</h3>
                                            <p>Send mobile alerts to help increase sales.</p>

                                            <h3 id="track-delivery">Track Delivery</h3>
                                            <p>Allow your customers to trace the delivery of their packages.</p>

                                            <h3 id="provide-technical-support">Provide Technical Support</h3>
                                            <p>Through SMS, your customers may be served better by quickly responding to their questions and helping them understand the product/service more.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="faq-cr">
                        	<div class="faq-ct">
                        		<a id="getting-started-with-the-chikka-sms-api" class="faq-lnk"><span class="lbl">Getting started with the Chikka SMS API</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="create-account" class="sub faq-lnk"><span class="lbl">Create Account</span></a>
                                        <div class="sub faq-ans">
                                            <p>To start using the Chikka SMS API, create an account using your email address and unique password. You will then go through the verification process to help us secure your account. Afterwards, you can simply log on to your account using your email address as the username.</p>

                                        	<h3 id="free-trial">Free Trial</h3>
                                            <p>You will get 25 SMS credits that you can use for up to five (5) days, absolutely free. Even before your free trial ends, you can also start availing of SMS package/s if you want to continue communicating to your customers.</p>

                                            <h3 id="testing-your-account">Testing your account</h3>
                                            <p>You also need to set a test mobile number, which you can change up to three (3) times for the duration of your free trial.</p>

                                            <h3 id="continue-using-sms-api">Continue using SMS API</h3>
                                            <p>You have the option to consume all your 25 free SMS credits before availing of a package or you can also upgrade even before your free trial expires.
Buying a package will automatically upgrade you to a paid account. Once you
upgrade, any remaining free SMS credits will no longer be valid.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="short-code" class="sub faq-lnk"><span class="lbl">Short Code</span></a>
                                        <div class="sub faq-ans">
                                            <p>Upon creating an account, you will be assigned a unique short code, which you can choose from list of suggestions; or better yet, you can set your preferred short code. However, please take note that the assignment of short codes is on a first-come, first-served basis.</p>
                                            <p>Your short code will appear in this format: 29290+&lt;preferred 3 to 6 digits unique suffix combination&gt;. Example: 29290<strong>123456</strong></p>

                                            <h3 id="expiry">Expiry</h3>
                                            <p>Once you've used up your free trial, your unique short code will expire after 30 days on inactivity. If you have availed of a package, your unique short code will only expire 90 days after you've consumed all your SMS credits.</p>
                                            <p>Your expired short code may then be reallocated to another user. Your account, however, will remain accessible for you for any future SMS API-enabled projects you will have. After the deactivation of your short code, you will be asked to assign a new one when you log in to your account.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li class="faq-cr">
                            <div class="faq-ct">
                                <a id="using-the-chikka-sms-api" class="faq-lnk"><span class="lbl">Using the Chikka SMS API</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="packages" class="sub faq-lnk"><span class="lbl">Packages</span></a>
                                        <div class="sub faq-ans">
                                    <p>There are four packages you can choose from and there's no limit as to how many packages you can avail of at a time. You can purchase one or combine packages anytime you need more credits.</p>
                                    <table cellpadding="5" border="0">
                                        <thead>
                                            <tr>
                                                <th>Package</th>
                                                <th>Messages</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Plan 100</td>
                                                <td>up to 250 messages</td>
                                            </tr>
                                            <tr>
                                                <td>Plan 500</td>
                                                <td>up to 1,250 messages</td>
                                            </tr>
                                            <tr>
                                                <td>Plan 1000</td>
                                                <td>up to 2,500 messages</td>
                                            </tr>
                                            <tr>
                                                <td>Plan 2500</td>
                                                <td>up to 6,250 messages</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="payment-options" class="sub faq-lnk"><span class="lbl">Payment Options</span></a>
                                        <div class="sub faq-ans">
                                            <p>You can choose to pay for your packages via the following methods:</p>
                                            <ul>
                                                <li>Smart Mobile Payment</li>
                                                <li>VISA/Mastercard</li>
                                                <li>DragonPay</li>
                                                <li>PayPal</li>
                                            </ul>
                                            <p>VISA/Mastercard, Paypal and Dragonpay payments are only available for transactions P500 and up. Credits purchase via PayPal is only available to verified Paypal accounts. VISA/Mastercard or Paypal credits purchase is limited to P300,000 per month </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="valid-activities" class="sub faq-lnk"><span class="lbl">Valid Activities</span></a>
                                        <div class="sub faq-ans">
                                    <p>Feel free to utilize the Chikka SMS API for your applications, except for the following:</p>
                                    <ul>
                                                <li>SMS loan offers
                                                <li>SMS real estate marketing
                                                <li>SMS VAS subscription services
                                    </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="censorship" class="sub faq-lnk"><span class="lbl">Censorship</span></a>
                                        <div class="sub faq-ans">
                                    <p>As general rule, offensive or explicit language in your messages will not be tolerated. Our system will automatically filter offensive or explicit words included in messages. The system will only display the first two characters of the filtered word and replace the rest with asterisks (*). Example: sh** for … you know what it is.</p>
                                </div>
                            </div>
                        </li>
                            </ol>
                        </li>
                        <li class="faq-cr">
                            <div class="faq-ct">
                                <a id="rates" class="faq-lnk"><span class="lbl">Rates</span></a>
                                <div class="faq-ans">
                                    <p>The Chikka SMS API is equipped with tri-telco connectivity that includes Smart, Globe and Sun Cellular.</p>
                                </div>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="outgoing-messages" class="sub faq-lnk"><span class="lbl">Outgoing Messages</span></a>
                                        <div class="sub faq-ans">
                                    <p>All the outgoing messages (140 characters) you send will be deducted from the SMS credits in your existing package. The charge rate for every successful outgoing message depends on the network carrier of your recipients.</p>
                                    <table cellpadding="5" border="0">
                                        <thead>
                                            <tr>
                                                <th>Telco</th>
                                                <th>Charge Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Smart</td>
                                                <td>0.40 Php per SMS sent</td>
                                            </tr>
                                            <tr>
                                                <td>Sun Cellular</td>
                                                <td>0.40 Php per SMS sent</td>
                                            </tr>
                                            <tr>
                                                <td>Globe</td>
                                                <td>0.50 Php per SMS sent</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p>You are allowed to send up to thirty (30) 420-character messages to a particular customer per day. You will be notified in the event that you exceed the message limit. Exceeding messages for the day will no longer be sent out but will still be deducted from your credit balance.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="incoming-messages" class="sub faq-lnk"><span class="lbl">Incoming Messages</span></a>
                                        <div class="sub faq-ans">
                                    <p>As the owner of the service or application, you have a say on how much you want to charge your customers using the available tariff rates*:</p>
                                    <ul>
                                        <li>1.00 Php</li>
                                        <li>2.50 Php</li>
                                        <li>5.00 Php</li>
                                        <li>10.00 Php</li>
                                        <li>15.00 Php</li>
                                    </ul>
                                    <p>*The reply message rate will automatically be included in your outgoing message to help inform your customers; this is why your outgoing message can only be 140 characters long.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="revenue-share" class="sub faq-lnk"><span class="lbl">Revenue Share</span></a>
                                        <div class="sub faq-ans">
                                    <p>You are entitled to a percentage of each mobile reply sent by your customers. The revenue share for each carrier are as follows:</p>
                                    <ul>
                                        <li>70% revenue share for every reply message of a Smart subscriber</li>
                                        <li>70% revenue share for every reply message of a Sun Cellular subscriber</li>
                                        <li>60% revenue share for every reply message of a Globe subscriber</li>
                                    </ul>
											<p>You will receive a statement report summarizing your monthly transactions; and once you reach a minimum amount of 5000 Php revenue share, you can start collecting your share by furnishing an invoice to <strong>Chikka Philippines, Inc.</strong> Your payment will be released via check within 60 calendar days upon the receipt of your invoice. Download the invoice template <a href="{{static_url('Chikka_SMS-API_OnlineInvoiceTemplate.xls')}}">here</a>.</p>
                                    <p>Checks will be made payable to the registered user so please make sure your Account Name is your full name or the complete name of your company.</p>
                                    <p>Please remember to keep a copy of your transaction history on a regular basis. The Chikka API website can only display transactions made within the last two (2) months.</p>
                                    <p class="hint"><strong>Note: The Chikka API currently supports SMS to/from Smart and Globe numbers; connection with Sun Cellular is still in the works.</strong></p>

                                </div>
                            </div>
                        </li>
                    </ol>
                        </li>
                    </ol>

                </div>
            </div>

       </div>
   </div>
</section>
