<section class="com com-help-faq">
	<div class="com-cr com-help-faq-cr">
		<h2 class="com-heading com-help-faq-heading">FAQs</h2>
		<div class="com-ct com-help-faq-ct">        
            
            <div class="toc-cr">
            	<div class="toc-ct">
                	<ol class="toc-lst">
                    	<li class="toc-lnk-cr"><a class="toc-lnk" href="#verification-code-pin-code-confirmation message-(sms)" data-state="active"><span class="lbl">Verification Code/Pin Code/Confirmation Message (SMS)</span></a>
                        <li class="toc-lnk-cr"><a class="toc-lnk" href="#access-codes-suffixes" data-state="inactive"><span class="lbl">Access Codes/Suffixes</span></a>
                        <li class="toc-lnk-cr"><a class="toc-lnk" href="#api-credits" data-state="inactive"><span class="lbl">API Credits</span></a>
                        <li class="toc-lnk-cr"><a class="toc-lnk" href="#rates-for-outgoing-and-incoming-messages" data-state="inactive"><span class="lbl">Rates for Outgoing and Incoming Messages</span></a>
                        <li class="toc-lnk-cr"><a class="toc-lnk" href="#reverse-billing" data-state="inactive"><span class="lbl">Reverse Billing</span></a>
                        <li class="toc-lnk-cr"><a class="toc-lnk" href="#receiving-and-sending-messages" data-state="inactive"><span class="lbl">Receiving and Sending Messages</span></a>
                    </ol>
                </div>
            </div>
            
            <div class="main-cr">
            	<div class="main-ct">
                	<ol class="faq-lst">
                        <li class="faq-cr">
                        	<div class="faq-ct">
                        		<a id="verification-code-pin-code-confirmation message-(sms)" class="faq-lnk"><span class="lbl">Verification Code/Pin Code/Confirmation Message (SMS)</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="verification-code-pin-code-confirmation message-(sms)-1" class="sub faq-lnk" href="#"><span class="lbl">I cannot confirm my test mobile number because I did not receive a text message with my verification code. What should I do?</span></a>
                                        <div class="sub faq-ans">
                                            <p>Make sure that you have entered your correct mobile number. Also, please wait for a few minutes as network congestion can sometimes cause delay in delivering your verification code.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="verification-code-pin-code-confirmation message-(sms)-2" class="sub faq-lnk" href="#"><span class="lbl">I did not receive a PIN code when I purchased via Smart Payment. What should I do?</span></a>
                                        <div class="sub faq-ans">
                                        	<p>Make sure you have entered a valid mobile number that is NOT tied to a corporate account. If your number is not tied to a corporate account and you still did not receive a PIN code within a few minutes, kindly purchase the package/s again. Don't worry, you will only be charged once and that is after you have entered the correct PIN code.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="verification-code-pin-code-confirmation message-(sms)-3" class="sub faq-lnk" href="#"><span class="lbl">I did not receive a confirmation message after I entered my PIN code. What should I do?</span></a>
                                        <div class="sub faq-ans">
                                        	<p>You can always view the status of your purchases online. In the Chikka API Dashboard, just go to your Purchase History.</p>
                                            <p>If the Transaction Status is:</p>
                                            <ul>
                                                <li><strong>SUCCESSFUL</strong>: Don't worry, you have successfully purchased your package/s. The delivery of your confirmation message may have just been delayed due to network congestion or other network-related problems. You may also check your email for the confirmation message regarding your transaction.</li>
                                                <li><strong>PENDING</strong>: Kindly wait for a few minutes as your transaction is still being processed.</li>
                                                <li><strong>FAILED</strong>: Make sure you have sufficient load to purchase your package/s. Once you have the enough balance, kindly try purchasing again. For other concerns, you may contact <a href="mailto:api@chikka.com">api@chikka.com</a>.</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li class="faq-cr">
                        	<div class="faq-ct">
                                <a id="access-codes-suffixes" class="faq-lnk"><span class="lbl">Access Codes/Suffixes</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="access-codes-suffixes-1" class="sub faq-lnk" href="#"><span class="lbl">My access code appears too long. Can I get a 5-digit access code?</span></a>
                                        <div class="sub faq-ans">
                                        	<p>Unfortunately, the minimum length for an access code is 8 digits. This includes the 29290 prefix.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="faq-cr">
                        	<div class="faq-ct">
                                <a id="api-credits" class="faq-lnk"><span class="lbl">API Credits</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="api-credits-1" class="sub faq-lnk" href="#"><span class="lbl">I am a Smart subscriber. Why can't I purchase Chikka API credits? </span></a>
                                        <div class="sub faq-ans">
                                        	<p>Kindly check if your mobile number is valid and not tied to a corporate account. Most corporate numbers are not allowed to purchase Chikka API credits.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        
                        <li class="faq-cr">
                        	<div class="faq-ct">
                                <a id="rates-for-outgoing-and-incoming-messages" class="faq-lnk"><span class="lbl">Rates for Outgoing and Incoming Messages</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="rates-for-outgoing-and-incoming-messages-1" class="sub faq-lnk" href="#"><span class="lbl">Would the tariff rate (e.g. Php 1.00), which is charged to the user, cover the charge rate (e.g. Php 0.40 for Smart) of my reply message?</span></a>
                                        <div class="sub faq-ans">
                                        	<p>No, the tariff rate and the charge rate are settled separately.</p>
											<p>The tariff rate (request cost) is the amount you desire to charge the user/recipient and it is deducted from the user's actual load. On the other hand, the charge rate (credits cost) is the cost of your reply message and it is deducted from your Chikka API credits.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
						<li class="faq-cr">
                        	<div class="faq-ct">
                                <a id="reverse-billing" class="faq-lnk"><span class="lbl">Reverse Billing</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="reverse-billing-1" class="sub faq-lnk" href="#"><span class="lbl">I don’t want to charge my customers for their text. How do I do this?</span></a>
                                        <div class="sub faq-ans">
											<p>You can cover the costs of your users’ messages by choosing the FREE reply charge (request_cost).  Reverse Billing will then be implemented and you will be charged Php 0.40 for Smart/Sun and Php 0.50 for Globe. This is on top of the credits you will be using to reply to your user.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="faq-cr">
                        	<div class="faq-ct">
                                <a id="receiving-and-sending-messages" class="faq-lnk"><span class="lbl">Receiving and Sending Messages</span></a>
                            </div>
                            <ol class="sub faq-lst">
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="receiving-and-sending-messages-1" class="sub faq-lnk" href="#"><span class="lbl">Why can't I send/receive SMS to/from the Chikka API short code?</span></a>
                                        <div class="sub faq-ans">                                            
                                            <p>Make sure that your mobile number is VALID and is NOT tied to a corporate account. Most corporate numbers are blocked from sending and receiving text messages from an access code.</p>
                                        </div>
                                    </div>
                                </li>
                            	<li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="receiving-and-sending-messages-2" class="sub faq-lnk" href="#"><span class="lbl">Are there any limitations in receiving messages?</span></a>
                                        <div class="sub faq-ans">                                            
                                            <p>Yes, upon receiving a message, the recipient must send a REPLY (refer to <a href="/docs/handling-messages#reply-sms">Reply to an SMS</a>). Otherwise, the mobile number will be restricted from sending messages to your access code for the next 24 hours.</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="sub faq-cr">
                                	<div class="sub faq-ct">
                                    	<a id="receiving-and-sending-messages-3" class="sub faq-lnk" href="#"><span class="lbl">If a user sends a multi-part message to my access code, will the Chikka API send the message as a single transaction?</span></a>
                                        <div class="sub faq-ans">
                                        	<p>No, the Chikka API will send a multi-part message separately depending on the number of message parts. For example, a 2-part message will be sent as 2 separate messages to your access code.</p>
											<p>Please note that if the user sends a multi-part message, only the first message might be received, unless the recipient sends a reply. This is due to the limit imposed by the API in receiving messages (refer to <a href="#receiving-and-sending-messages-2">Limitation in Receiving Messages</a>).</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                    
                </div>
            </div>
                        
       </div>
   </div>
</section>